.w3-tangerine {
  /* font-family: "Tangerine", serif; */
  font-family: open sans condensed, sans-serif;
  color: #c9ab81;
}

.w3-jumbo {
  font-size: 60px !important;
  letter-spacing: 0.16em;
}

.btn-outline-dark {
  border-radius: 0px;
  border-color: #c9ab81;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  letter-spacing: 0.26em;
  color: white;
  /* font-weight: 600; */
  /* font-family: Andale Mono, monospace; */
  font-family: open sans condensed, sans-serif;
}

/* .btn-outline-dark span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
} */

.btn-outline-dark:hover {
  background-color: transperent !important;
  border: 1px solid #c9ab81;
  /* webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;  */
  /* transition-property: color, background-color, border-color;
  transition-duration: 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
  transition-delay: 0s, 0s, 0s; */
}

/* .btn-outline-dark:hover {
  color: #222;
  background-color: #a9927d;
  border-color: #5e503f;
} */

.MuiPaper-root {
  background-color: whitesmoke;
}

.goback {
  /* border-radius: 0px; */
  border-width: 1.5px;
  background-color: transparent;
  border-color: #a9927d;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  padding: 10px;
  width: 185px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.goback span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.goback span:after {
  content: "\f015";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -90%;
  transition: 0.5s;
}

.goback:hover {
  background-color: #a9927d;
  color: white;
}

.goback:hover span {
  padding-left: 25px;
}

.goback:hover span:after {
  opacity: 1;
  right: 0;
}
